In the retail sector, it is possible to unlock insights to win and retain customers, drive business efficiencies, and ultimately improve sales and customer interest. Retail organizations are using advanced analysis to understand their customers, improve forecasting, and achieve better, faster results. As a company's resources are limited, it is crucial to identify and target customers to secure their loyalty, enhance business efficiency, and ultimately improve performance.

You have been given access to a dataset containing customer transactions for an online retailer and tasked with using your machine learning tools to gain and report on business insights. The audience for this report are non-specialists.  In particular, your tasks are:

Clustering
Apply and evaluate various clustering techniques with the aim of generating actionable insights from the data. 

●	Select and justify the features you will be using.

●	Apply appropriate clustering algorithms to the dataset.

●	Evaluate the performance of the algorithms and make a recommendation as to which gives the “best” results.

●	Include in your report your own interpretation of the results.

Market Basket Analysis
Perform a market basket analysis of the transaction data. 

●	Include in your report a comparison and evaluation of at least two algorithms.

●	Include in your report your own interpretation of the results.

In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df = pd.read_excel("data.xlsx")
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

### Note

To improve readability, we have set the 'InvoiceDate' column as the index of the dataset.
This guarantees that each row is unique, eliminating the need for the default numerical index.

In [3]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
df = df.set_index('InvoiceDate')

In [4]:
df.shape

(525461, 7)

## Exploratory Data Analysis

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 525461 entries, 2009-12-01 07:45:00 to 2010-12-09 20:01:00
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      525461 non-null  object
 1   StockCode    525461 non-null  object
 2   Description  522533 non-null  object
 3   Quantity     525461 non-null  int64
 4   Price        525461 non-null  float64
 5   Customer ID  417534 non-null  float64
 6   Country      525461 non-null  object
dtypes: float64(2), int64(1), object(4)
memory usage: 32.1+ MB

In [6]:
df.dtypes

Invoice         object
StockCode       object
Description     object
Quantity         int64
Price          float64
Customer ID    float64
Country         object
dtype: object

In [7]:
# # To prevent errors, converting 'Description','Invoice' and 'StockCode' to a string.
# df['Description'] = df['Description'].astype(str)
# df['Invoice'] = df['Invoice'].astype(str)
# df['StockCode'] = df['StockCode'].astype(str)

In [8]:
df.describe()

            Quantity          Price    Customer ID
count  525461.000000  525461.000000  417534.000000
mean       10.337667       4.688834   15360.645478
std       107.424110     146.126914    1680.811316
min     -9600.000000  -53594.360000   12346.000000
25%         1.000000       1.250000   13983.000000
50%         3.000000       2.100000   15311.000000
75%        10.000000       4.210000   16799.000000
max     19152.000000   25111.090000   18287.000000

In [9]:
df.Country.nunique()

40

In [10]:
df.Country.unique()

array(['United Kingdom', 'France', 'USA', 'Belgium', 'Australia', 'EIRE',
       'Germany', 'Portugal', 'Japan', 'Denmark', 'Nigeria',
       'Netherlands', 'Poland', 'Spain', 'Channel Islands', 'Italy',
       'Cyprus', 'Greece', 'Norway', 'Austria', 'Sweden',
       'United Arab Emirates', 'Finland', 'Switzerland', 'Unspecified',
       'Malta', 'Bahrain', 'RSA', 'Bermuda', 'Hong Kong', 'Singapore',
       'Thailand', 'Israel', 'Lithuania', 'West Indies', 'Lebanon',
       'Korea', 'Brazil', 'Canada', 'Iceland'], dtype=object)

In [11]:
customer_country=df[['Country','Customer ID']]
customer_country.groupby(['Country'])['Customer ID'].aggregate('count').reset_index().sort_values('Customer ID', ascending=False).head()

           Country  Customer ID
37  United Kingdom       379423
10            EIRE         8710
13         Germany         8129
12          France         5710
24     Netherlands         2769

In [12]:
pd.DataFrame(df.nunique())

                 0
Invoice      28816
StockCode     4632
Description   4681
Quantity       825
Price         1606
Customer ID   4383
Country         40

,Invoice,StockCode,Description,Quantity,Price,Customer ID,Country
InvoiceDate,,,,,,,
2009-12-01 10:33:00,C489449,22087,PAPER BUNTING WHITE LACE,-12,2.95,16321.0,Australia
2009-12-01 10:33:00,C489449,85206A,CREAM FELT EASTER EGG BASKET,-6,1.65,16321.0,Australia
2009-12-01 10:33:00,C489449,21895,POTTING SHED SOW 'N' GROW SET,-4,4.25,16321.0,Australia
2009-12-01 10:33:00,C489449,21896,POTTING SHED TWINE,-6,2.10,16321.0,Australia
2009-12-01 10:33:00,C489449,22083,PAPER CHAIN KIT RETRO SPOT,-12,2.95,16321.0,Australia

## Null values

In [13]:
df.isnull().sum(axis=0)

Invoice             0
StockCode           0
Description      2928
Quantity            0
Price               0
Customer ID    107927
Country             0
dtype: int64

In [14]:
df['Description'].tail(50)

InvoiceDate
2010-12-09 20:01:00                CHRYSANTHEMUM NOTEBOOK
2010-12-09 20:01:00               GARDEN PATH POCKET BOOK
2010-12-09 20:01:00                 GARDEN PATH NOTEBOOK
2010-12-09 20:01:00                   GREEN FERN NOTEBOOK
2010-12-09 20:01:00          ABSTRACT CIRCLES POCKET BOOK
2010-12-09 20:01:00          RETROSPOT GIANT TUBE MATCHES
2010-12-09 20:01:00    MAKE YOUR OWN FLOWERPOWER CARD KIT
2010-12-09 20:01:00         WHITE SKULL HOT WATER BOTTLE
2010-12-09 20:01:00       HOT WATER BOTTLE I AM SO POORLY
2010-12-09 20:01:00                             BINGO SET
2010-12-09 20:01:00                      HOLIDAY FUN LUDO
2010-12-09 20:01:00              ABSTRACT CIRCLE JOURNAL
2010-12-09 20:01:00                CHRYSANTHEMUM  JOURNAL
2010-12-09 20:01:00                           SKULLS TAPE
2010-12-09 20:01:00                      HEARTS GIFT TAPE
2010-12-09 20:01:00             CHRYSANTHEMUM SKETCHBOOK
2010-12-09 20:01:00                GREEN FERN SKETCHBOOK
2010-12-09 20:01:00          ABSTRACT CIRCLES SKETCHBOOK
2010-12-09 20:01:00          REX CASH+CARRY JUMBO SHOPPER
2010-12-09 20:01:00    SET OF 72 RETROSPOT PAPER  DOILIES
2010-12-09 20:01:00    SET OF 36 DOILIES SPACEBOY DESIGN
2010-12-09 20:01:00        SET OF 72 SKULL PAPER  DOILIES
2010-12-09 20:01:00       CHILDRENS APRON SPACEBOY DESIGN
2010-12-09 20:01:00             RETROSPOT CHILDRENS APRON
2010-12-09 20:01:00       PINK FAIRY CAKE CHILDRENS APRON
2010-12-09 20:01:00              SCOTTIES CHILDRENS APRON
2010-12-09 20:01:00          CHILDREN'S APRON DOLLY GIRL
2010-12-09 20:01:00         CHOCOLATE THIS WAY METAL SIGN
2010-12-09 20:01:00               MORE BUTTER METAL SIGN
2010-12-09 20:01:00        PACK OF 20 SKULL PAPER NAPKINS
2010-12-09 20:01:00            HOT WATER BOTTLE BABUSHKA
2010-12-09 20:01:00       HAND OVER THE CHOCOLATE   SIGN
2010-12-09 20:01:00               DINOSAURS  WRITING SET
2010-12-09 20:01:00                   SKULLS WRITING SET
2010-12-09 20:01:00       RECIPE BOX PANTRY YELLOW DESIGN
2010-12-09 20:01:00           ANGEL DECORATION 3 BUTTONS
2010-12-09 20:01:00                      KINGS CHOICE MUG
2010-12-09 20:01:00                   SAVE THE PLANET MUG
2010-12-09 20:01:00                   HOME SWEET HOME MUG
2010-12-09 20:01:00            POPPY'S PLAYHOUSE BATHROOM
2010-12-09 20:01:00             POPPY'S PLAYHOUSE KITCHEN
2010-12-09 20:01:00            POPPY'S PLAYHOUSE BEDROOM
2010-12-09 20:01:00       CLOTHES PEGS RETROSPOT PACK 24
2010-12-09 20:01:00          RED SPOT CERAMIC DRAWER KNOB
2010-12-09 20:01:00      PINK BLUE FELT CRAFT TRINKET BOX
2010-12-09 20:01:00                  FELTCRAFT DOLL ROSIE
2010-12-09 20:01:00          FELTCRAFT PRINCESS LOLA DOLL
2010-12-09 20:01:00        FELTCRAFT PRINCESS OLIVIA DOLL
2010-12-09 20:01:00    PINK FLORAL FELTCRAFT SHOULDER BAG
2010-12-09 20:01:00                JUMBO STORAGE BAG SUKI
Name: Description, dtype: object

In [15]:
df[df['Description'].isnull()].tail()

,Invoice,StockCode,Description,Quantity,Price,Customer ID,Country
InvoiceDate,,,,,,,
2010-12-09 15:58:00,538141,22218,NaN,2,0.0,NaN,United Kingdom
2010-12-09 15:58:00,538143,84534B,NaN,1,0.0,NaN,United Kingdom
2010-12-09 17:17:00,538159,21324,NaN,-18,0.0,NaN,United Kingdom
2010-12-09 17:17:00,538158,20892,NaN,-32,0.0,NaN,United Kingdom
2010-12-09 17:18:00,538160,20956,NaN,288,0.0,NaN,United Kingdom

Note

- The Price in these rows is 0, indicating that these orders did not generate any sales.

- At present, we can impute it with 'UNKNOWN ITEM' and address those later during the analysis.

#### Analyzing "Description" feature

In [16]:
df['Description'].value_counts().tail(20)

wet ctn                                1
RUSSIAN FOLKART STACKING TINS          1
correct previous adjustment            1
SET OF 2 CHESTS CHOCOLAT AU LAIT       1
HEART MEASURING SPOONS SMALL           1
LARGE WHITE CHOCOLATE CANDLE           1
missings                               1
missing (wrongly coded?)               1
BAG FOR CHILDREN VINTAGE BLUE          1
Sold as 17003?                         1
BAG FOR CHILDREN VINTAGE PINK          1
BLUE OWL DECORATION                    1
PINK OWL DECORATION                    1
IVORY WALL CLOCK                       1
RED WALL CLOCK                         1
stock credited from royal yacht inc    1
VINTAGE METAL CAKE STAND CREAM         1
BLUE BAROQUE FLOCK CANDLE HOLDER       1
S/4 HEART CRYSTAL FRIDGE MAGNETS       1
dotcom email                           1
Name: Description, dtype: int64

In [17]:
df['Description'].value_counts().head()

WHITE HANGING HEART T-LIGHT HOLDER    3549
REGENCY CAKESTAND 3 TIER              2212
STRAWBERRY CERAMIC TRINKET BOX        1843
PACK OF 72 RETRO SPOT CAKE CASES      1466
ASSORTED COLOUR BIRD ORNAMENT         1457
Name: Description, dtype: int64

Note

The code above shows that valid items are typically in uppercase, while non-valid or cancelled items are in lowercase.

#### Analyzing Invoice feature

In [21]:
df['Invoice'].value_counts().tail(50)

506582     1
506575     1
523913     1
523896     1
523906     1
506568     1
523910     1
506567     1
523914     1
523915     1
C523952    1
C506495    1
C506493    1
C491616    1
C491619    1
506471     1
C524005    1
506468     1
524013     1
524015     1
493900     1
524027     1
C491626    1
493924     1
C524058    1
524063     1
C506441    1
493928     1
524095     1
C491611    1
C506476    1
C491621    1
C523991    1
C491623    1
C506489    1
C506488    1
C506485    1
C506484    1
C506483    1
C506482    1
C506481    1
C506480    1
C523975    1
523979     1
C523978    1
523981     1
523984     1
523985     1
C523988    1
C516462    1
Name: Invoice, dtype: int64

In [23]:
df['Invoice'].value_counts().head()

537434    675
538071    652
537638    601
537237    597
536876    593
Name: Invoice, dtype: int64

In [ ]:
dsgsdf

## Data cleaning

In [ ]:
customer_country=df[['Country','Customer ID']].drop_duplicates()
customer_country.groupby(['Country'])['Customer ID'].aggregate('count').reset_index().sort_values('Customer ID', ascending=False).head()

In [ ]:
df['Description'] = df['Description'].fillna('UNKNOWN ITEM')
df.isnull().sum()

In [ ]:
df = df[pd.notnull(df1['CustomerID'])]
df1.isnull().sum(axis=0)

## Exploratory Data Analysis II

### Do we have returns?

In [25]:
df[df['Quantity'] < 0].head()

,Invoice,StockCode,Description,Quantity,Price,Customer ID,Country
InvoiceDate,,,,,,,
2009-12-01 10:33:00,C489449,22087,PAPER BUNTING WHITE LACE,-12,2.95,16321.0,Australia
2009-12-01 10:33:00,C489449,85206A,CREAM FELT EASTER EGG BASKET,-6,1.65,16321.0,Australia
2009-12-01 10:33:00,C489449,21895,POTTING SHED SOW 'N' GROW SET,-4,4.25,16321.0,Australia
2009-12-01 10:33:00,C489449,21896,POTTING SHED TWINE,-6,2.10,16321.0,Australia
2009-12-01 10:33:00,C489449,22083,PAPER CHAIN KIT RETRO SPOT,-12,2.95,16321.0,Australia

Looks like Invoices that start with 'C' are the "Canceling"/"Returning" invoices. This resolves the mystery of negative quantities.

Although, we should've gotten deeper into the analysis of those returns, for the sake of simplicity let's just ignore those values for the moment.

We can actually start a separate project based on that data and predict the returning/canceling rates for the store.

## How many customers are not recurrent?

In [ ]:
def unique_counts(df1):
   for i in df1.columns:
       count = df1[i].nunique()
       print(i, ": ", count)
unique_counts(df1)

## What items were purchased more frequently?

In [ ]:
item_counts = df['Description'].value_counts().sort_values(ascending=False).iloc[0:15]
plt.figure(figsize=(18,6))
sns.barplot(x=item_counts.index, y=item_counts.values, palette=sns.cubehelix_palette(15))
plt.ylabel("Counts")
plt.title("Which items were bought more often?");
plt.xticks(rotation=90);

##  Which invoices had the highest number of items?

In [ ]:
inv_counts = df['Invoice'].value_counts().sort_values(ascending=False).iloc[0:15]
plt.figure(figsize=(18,6))
sns.barplot(x=inv_counts.index, y=inv_counts.values, palette=sns.color_palette("BuGn_d"))
plt.ylabel("Counts")
plt.title("Which invoices had the most items?");
plt.xticks(rotation=90);

In [ ]:
df[df['InvoiceNo'].str.startswith('C')].describe()

In [ ]:
Looks like Invoices that start with 'C' are the "Canceling"/"Returning" invoices. This resolves the mystery of negative quantities.

Although, we should've gotten deeper into the analysis of those returns, for the sake of simplicity let's just ignore those values for the moment.

We can actually start a separate project based on that data and predict the returning/canceling rates for the stor

#### Analyzing "Description" feature II

In [ ]:
df[~df['Description'].str.isupper()]['Description'].value_counts().head()

In [ ]:
# Not full upper case items
lcase_counts = df[~df['Description'].str.isupper()]['Description'].value_counts().sort_values(ascending=False).iloc[0:15]
plt.figure(figsize=(18,6))
sns.barplot(x=lcase_counts.index, y=lcase_counts.values, palette=sns.color_palette("hls", 15))
plt.ylabel("Counts")
plt.title("Not full upper case items");
plt.xticks(rotation=90);

#### Analyzing Invoice feature II

In [20]:
df[df['Invoice'].str.startswith('C')].describe()

ValueError: Cannot mask with non-boolean array containing NA / NaN values